#all-orders-admin {
    padding-top: 50px;
    margin-bottom: 20px;
    ul {
        padding-left: 0;
    }
    .column-titles {
        clear: both;
    }
    .order-listing {
        height: 100%;
        margin: 3px auto;
        cursor: pointer;
    }
    .even-user {
        background: #F5F5F5;
    }
    .btn-default {
      border: 1px solid skyblue;
    }
    .selected-order {
        margin: -3px;
        border: 3px solid skyblue;
        &.first-order {
            height: 39px;
            margin-top: 53px;
            h4 {
                padding-bottom: 3px;
            }
        }
        &.last-order {
            margin-bottom: 0;
        }
    }
    .searchBox {
        margin: 0;
    }
    .single-order {
        height: 100%;
        label {
            margin-top: 10px;
        }
        button.btn.btn-default {
            margin-top: 34px;
            width: 100%;
        }
    }
    .addresses {
        margin-top: 20px;
        span {
            display: block;
        }
    }
    .order-details {
        margin-top: 20px;
        .cart-products {
            margin-top: 15px;
        }
        span {
            display: block;
        }
        span.promo-code {
            span {
                display: inline;
            }
            display: inline;
        }
    }
    span.order-update {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .statusSelection {
        button:focus {
            background-color: #fff;
        }
        button.active:focus {
            background-color: #c6c6c6;
        }
    }
}


