#products-admins {
    padding-top: 50px;
    margin-bottom: 20px;
    ul {
        padding-left: 0;
    }
    .column-titles {
        clear: both;
    }
    .product-inventory {
        text-align: center;
    }
    .product-listing {
        height: 100%;
        margin: 3px auto;
        cursor: pointer;
    }
    .even-product {
        background: #F5F5F5;
    }
    .admin-product {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-default {
      border: 1px solid skyblue;
    }
    .searchBox {
        margin: 0;
    }
    .selected-product {
        margin: -3px;
        border: 3px solid skyblue;
        &.first-product {
            height: 39px;
            margin-top: 53px;
            h4 {
                padding-bottom: 3px;
            }
        }
        &.last-product {
            margin-bottom: 0;
        }
    }
    .single-product {
        height: 100%;
        label {
            margin-top: 10px;
        }
        .nav-tabs {
            border-color: skyblue;
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 1px solid skyblue;
            border-bottom-color: transparent;
        }
        .review {
            padding: 5px 10px 10px 10px;
        }
        .even-review {
            background: #F5F5F5;
        }
        button.btn.btn-default {
            margin-top: 20px;
            width: 100%;
        }
    }
}
