<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav categories">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li class="dropdown" ng-if="user && user.role === 'admin'">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="adminItem in adminItems"><a ui-sref-active="active" ui-sref="{{ adminItem.state }}">{{ adminItem.label }}</a></li>
                </ul>
            </li>
        </ul>
            <img class="winenlogo" ui-sref="products" src="http://www.wineand.co.kr/images/logo_wines.jpg" />
		<!--<form class="navbar-form navbar-left" role="search">-->
		  <!--<div class="form-group">-->
		    <!--<input type="text" class="form-control" placeholder="Search not yet active" ng-model="search" id="search">-->
		  <!--</div>-->
		  <!--<button type="submit" class="btn btn-default">Submit</button>-->
		<!--</form>-->

        <button ng-show="!user" ui-sref="signup" class="btn btn-default btn-more login-button">Signup</button>
        <button ng-show="!user" ui-sref="login" class="btn btn-default btn-more login-button">Login</button>
        <button ng-click="openCart()" class="btn btn-default btn-more login-button">


            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Cart
        </button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
