<section id="order" class="contentTop">
    <h3 class="orderDetailTag">Your Order Details</h3>
    <h3 ng-if="order.details.promo">your promo ({{order.details.promo}}) has been applied</h3>
    <section class="productDetails" id="ordered-products">
        <div class="productBox col-xs-3" ng-repeat="product in order.cart">
            <h3 class="eachProduct"> {{product.name}}</h3>
            <img src="{{product.image}}">
            <h4 class="eachProduct"> {{product.price | currency}}</h4>
            <h4 class="eachProduct"> Quantity:{{product.orderQty}}</h4>
            <h4 class="eachProduct" ng-repeat="productCategory in product.categories"> {{productCategory.name}}</h4>
            <button class="btn btn-default" ui-sref="productDetails({productId: product._id})">More Info</button>
        </div>
    </section>
    <div class="divider clearfix"></div>
    <div class="bottomHalf">
        <div class="orderDetails col-xs-4">
            <h3>{{order._id}}</h3>
            <h5>Order Status: {{ order.status | uppercase }}</h5>
            <h5>Order Date: {{ order.date }}</h5>
            <h5>Sub Total: {{order.details.subTotal | currency}}</h5>
            <h5>Tax: {{ order.details.tax | currency }}</h5>
            <h5>Shipping: {{ order.details.shipping  | currency }}</h5>
            <h5>Total: {{ order.details.total | currency }}</h5>
        </div>
        <div class="shippingAddress col-xs-4">
            <h3>Shipping Address</h3>
            <h5>{{ order.user.firstName }} {{ order.user.lastName }}</h5>
            <h5>{{ order.user.shippingAddress.line1 }}</h5>
            <h5>{{ order.user.shippingAddress.line2 }}</h5>
            <h5>{{ order.user.shippingAddress.city }}</h5>
            <h5>{{ order.user.shippingAddress.state }}</h5>
            <h5>{{ order.user.shippingAddress.zip }}</h5>
        </div>
        <div class="billingAddress col-xs-4">
            <h3>Billing Address</h3>
            <h5>{{ order.user.firstName }} {{ order.user.lastName }}</h5>
            <h5>{{ order.user.billingAddress.line1 }}</h5>
            <h5>{{ order.user.billingAddress.line2 }}</h5>
            <h5>{{ order.user.billingAddress.city }}</h5>
            <h5>{{ order.user.billingAddress.state }}</h5>
            <h5>{{ order.user.billingAddress.zip }}</h5>
        </div>
    </div>
</section>
