<section id="product-user">
    This is product-user view
	<ul>
		<li class="singleProduct"> {{product.name}}</li>
		<li class="singleProduct"> {{product.description}}</li>
		<img src="{{product.image}}">
		<li class="singleProduct"> {{product.price}}</li>
		<li class="singleProduct"> {{product.qty}}</li>
		<li class="singleProduct"> {{product.categories}}</li>
		<button ng-click="addToCart(product)">Add To Cart</button>
	</ul>
	<button type="submit" ng-click="viewComments()">Comments</button>
	<reviews ng-show="seeComments"></reviews>
</section>


