<section id="products-user" class="col-lg-12 col-md-12 col-sm-12">
	
	<div class="categorySelection">
		<ul>
			<li class="eachCategory" ng-repeat="category in categories" ng-click="selectCategory(category)" ng-class="{'active': category===currentCategory}"> {{category}}</li>
		</ul>
	</div>
	<!-- Search Box Start -->
	<input type="text" placeholder="Search" ng-model="query"/>
	<!-- Search Box End -->
	<div class="IntroPic">
    	<img src="http://thumb101.shutterstock.com/display_pic_with_logo/184204/116996737/stock-photo-set-of-white-rose-and-red-wine-bottles-and-glas-isolated-on-white-background-116996737.jpg">
    </div>
    <div class='promoBox'>
    	<div class='promo animated fadeInLeftBig'>
    		<h1>Promotion A</h1>
    	</div>
    	<div class='promo animated fadeInRightBig'>
    		<h1>Promotion B</h1>
    	</div>
    </div>
	<section id="all-products">
		<div class="productBox" ng-show="currentCategory === 'all' || product.categories.indexOf(currentCategory) !== -1" ng-repeat=" product in products | filter: search ">
			<h3 class="eachProduct"> {{product.name}}</h3>
			Winery: <h3 class="eachProduct"> {{product.description.winery}}</h3>
            <div style="width: 182px; height: 544px;overflow: hidden;"><img src="{{product.image}}"></div><!--Using div to hide rightside of image-->
			<h3 class="eachProduct"> {{product.price}}</h3>
			<h3 class="eachProduct"> {{product.qty}}</h3>
			<h3 class="eachProduct" ng-repeat="productCategory in product.categories"> {{productCategory}}</h3>
			<button ui-sref="productDetails({productId: product._id})">More Info</button>
			<button ng-click="addToCart(product)">Add To Cart</button>
		</div>
	</section>
</section>
