<section id="products-user" class="contentTop col-xs-12">

	<div class="IntroPic">
    	<img src="http://cdn.shopify.com/s/files/1/0654/1551/t/2/assets/homeBackgroundImage.jpg?2703413769707300101">
    </div>
    <div class='promoBox'>
    	<div class='promo animated fadeInLeftBig'>
    		<h1>Promotion A</h1>
    	</div>
    	<div class='promo animated zoomIn'>
    		<h1>Promotion B</h1>
    	</div>
		<div class='promo animated fadeInRightBig'>
			<h1>Promotion C</h1>
		</div>
    </div>
	<section id="all-products">
		<div class="categorySelection btn-group btn-group-justified">
			<div class="btn-group"  ng-repeat="category in categories" role="group">
				<button type="button" class="btn btn-default eachCategory" ng-click="selectCategory(category)" ng-class="{'active': category.name === currentCategory}">{{category.name}}</button>
			</div>
		</div>
		<!-- Search Box Start -->
		<input class="searchBox" type="text" placeholder="Search" ng-model="query"/>
		<!-- Search Box End -->

		<div class="productBox" ng-show="currentCategory === 'all' || product.categories.indexOf(currentCategory) !== -1" ng-repeat=" product in products | filter: search ">
			<h3 class="eachProduct"> {{product.name}}</h3>
            <img class="animated" ui-sref="productDetails({productId: product._id})" ng-class="{'pulse':imageAnimating.indexOf(product._id)!==-1}" ng-mouseenter="imageAnimate(product._id)" ng-mouseleave="imageAnimate(product._id)" src="{{product.image}}">
			<h3 class="eachProduct"> {{product.price | currency}}</h3>
			<h3 class="eachProduct" ng-repeat="category in product.categories"> {{ category.name }}</h3>

			<button class="btn btn-default btn-more" ui-sref="productDetails({productId: product._id})">More Info</button>
			<button class="btn btn-default btn-more" ng-click="addToCart(product)">Add To Cart</button>
		</div>
	</section>
</section>
