<section id="product-user" class="contentTop">
		<div class="col-lg-5 col-md-5">
			<img class="productImg" src="{{product.image}}">
		</div>
		<div class="col-lg-7 col-md-7 productDescription">
				<li class="productName"> {{product.name}}</li>
				<li class="productCategory"> {{product.categories[0].name}}</li>
				<li class="productOrigin"> {{product.description.origin}}</li>
				<li class="productPrice"> {{product.price | currency}}</li>
				<li class="productReview"> {{product.description.review}}</li>
				<li class="leaf">
					<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
					organic
				</li>
				<li class="thumbsUp">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					quality guaranteed
				</li>
				<li class="stock">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					<h3 ng-if="product.qty>0">stock available</h3>
					<h3 ng-if="product.qty<1">SOLD OUT</h3>
				</li>
			<button is-active ng-class="{'highlight':active1}" ng-if="product.qty>0" ng-mouseenter="active1=true" ng-mouseleave="active1=false" class="menu-animation btn btn-default" ng-click="addToCart(product)"><span>Add To Cart</span></button><br/>
			<button is-active ng-class="{'highlight':active2}" ng-mouseenter="active2=true" ng-mouseleave="active2=false" class="menu-animation btn btn-default" type="submit" ng-click="viewComments()"><span ng-show="!seeComments">See Reviews</span><span ng-show="seeComments">Hide Reviews</span></button>
		</div>
	<!--  Reviews -->
	<reviews class="col-lg-12 col-md-12" ng-if="seeComments"></reviews>
	<div class="background col-lg-12 col-md-12">
		<div class="wineFacts col-lg-9 col-md-9">
			<div class="col-lg-6 col-md-6">
				<img src="http://cdn.shopify.com/s/files/1/0654/1551/t/2/assets/img18.jpg?15410791024512518113" />
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="factDescription">
					<h2>WINE FACTS</h2>
					<h3>Winery: {{product.description.winery}}</h3>
					<h3>Grapes: {{product.description.grapes}}</h3>
					<h3>Taste: <span ng-repeat="taste in product.description.taste">{{taste}}</span></h3>
					<h3>Best Served: {{product.description.serves}} C</h3>
				</div>
			</div>
		</div>
	</div>

			<!-- Recommendations NEED STYLING -->
			<!-- Recommendations NEED STYLING -->
		<div class="recommendations col-lg-12 col-md-12" ng-if="productRecs.length">
			<div class="col-lg-12 col-md-12">
			{{productRec}}
				<div><h2>Recommended Products:</h2>
					<div ng-repeat="productRec in productRecs">
						<a ui-sref="productDetails({productId: productRec._id})">{{productRec.name}}</a>
						<p>{{productRec.price  | currency}}</p> <a class="btn btn-default btn-more" ng-click="addToCart(productRec)">Add</a>
					</div>
				</div>
			</div>
		</div>
</section>


