<section id="products-user" class="contentTop col-xs-12">

	<div class="IntroPic">
		<!--<video src="https://youtu.be/O-qeJZAQqE0"></video>-->
    	<img src="https://s3.amazonaws.com/winen/shutterstock_158316056.jpg">
    </div>
    <div class='promoBox clearfix'>
    	<div class='animated promoA fadeInLeftBig'>
    		<h1>Sign up and receive 10% off</h1>
			<button ui-sref="signup" class="btn btn-default">Sign Up</button>
    	</div>
    	<div class='animated promoB zoomIn'>
    		<h1>10% off on all red wines</h1>
			<button ng-click="setPromo('RedWine')" class="btn btn-default">Apply Promo</button>
    	</div>
		<div class='animated promoC animated fadeInRightBig'>
			<h1>15% off on Poire authentique</h1>
			<button ng-click="setPromo('Poire')" class="btn btn-default">Apply Promo</button>
		</div>
    </div>
	<section id="all-products">
		<div class="categorySelection btn-group btn-group-justified">
			<div class="btn-group"  ng-repeat="category in categories" role="group">
				<button type="button" class="btn btn-default eachCategory" ng-click="selectCategory(category)" ng-class="{'active': category.name === currentCategory}">{{category.name}}</button>
			</div>
		</div>
		<!-- Search Box Start -->
		<input class="searchBox" type="text" placeholder="Search" ng-model="query"/>
		<!-- Search Box End -->

		<div class="productBox" ng-show="currentCategory === 'all' || product.categories.indexOf(currentCategory) !== -1" ng-repeat=" product in products | filter: search ">
			<h3 class="eachProduct"> {{product.name}}</h3>
            <img class="animated" ui-sref="productDetails({productId: product._id})" ng-class="{'pulse':imageAnimating.indexOf(product._id)!==-1}" ng-mouseenter="imageAnimate(product._id)" ng-mouseleave="imageAnimate(product._id)" src="{{product.image}}">
			<h3 class="eachProduct"> {{product.price | currency}}</h3>
			<h3 class="eachProduct" ng-repeat="category in product.categories"> {{ category.name }}</h3>

			<button class="btn btn-default btn-more" ui-sref="productDetails({productId: product._id})">More Info</button>
			<button class="btn btn-default btn-more" ng-click="addToCart(product)">Add To Cart</button>
		</div>
	</section>
</section>
