<section id="profile">
	<h1> Hello, {{user.username}}! </h1>
	<h1>{{user.role}}</h1>
    <form class="userForm" ng-submit="updateProfile(user)">
		Name: <input type="text" placeholder="{{user.username}}" ng-model="user.username" />
		Password: <input type="password" ng-model="user.password"/>
    	Email: <input type="text" placeholder="{{user.email}}" ng-model="user.email" />
    	<button type="submit">Save Changes</button>
    </form>
    <div class="orderList">
    	<h1> Order History</h1>
    	<li ng-repeat="order in user.orders">{{order}}</li>
    </div>
</section>
