<section class="loginForm contentTop">
    <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
        <div class="alert alert-danger" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button></br></br>

        <div><a href='http://localhost:1337/auth/facebook' target="_self"><img src="/img/fblogin.png" alt="Log In with Facebook"/></a></div>
        <div><a href='http://localhost:1337/auth/google' target="_self"><img src="/img/googlelogin.png" style="width: 166px; height: 38px;" alt="Log In with Google"/></a></div>
    </form>
</section>