<section id="cart" class="contentTop">
    <div class='col-xs-12'>
    	<ul>
			<h2 class="cart">Cart</h2>
    		<li class="eachProduct col-xs-3" ng-repeat="product in cartProducts">
				<img src="{{product.image}}">
    			<h6 class="productName">{{product.name}}</h6>
    			Product Quantity:<input type="text" ng-model="product.orderQty" ng-change="changeQty(product._id, product.orderQty)"/>
    			<h6 class="price">Price: {{product.price | currency }}</h6>
    			<!--<h3>Amount: {{calculateAmount(product.quantity,product.price)}}</h3>-->
				<button class="btn btn-default" ng-click="removeItem(product)">remove from Cart</button>
    		</li>
		</ul>
	</div>
	<div class="cartDetails">
		<h4>Sub Total: {{ subTotal | currency }}</h4>
		<h4>Tax: {{ tax | currency }}</h4>
		<h4>Shipping: {{ shipping  | currency }}</h4>
		<h3 class="total">Total: {{ total | currency }}</h3>
		<button class="btn btn-default" ng-click="calculateSubTotal()">Update Cart</button>
		<button class="btn btn-default" type="submit" ui-sref='checkout'>Checkout</button>
		<!-- <button ng-click="emptyCart()">Empty Cart</button>
		--> <button class="btn btn-default" ng-click="emptyCart()">Empty Cart</button>
	</div>
</section>

			<!-- Recommendations NEED STYLING -->
		<div class="recommendations col-lg-12 col-md-12 ng-if="productRecs.length > 0"">
			<div class="col-lg-12 col-md-12">
			{{productRec}}
				<div><h2>Recommended Products:</h2>
					<div ng-repeat="productRec in productRecs">
						<a ui-sref="productDetails({productId: productRec._id})">{{productRec.name}}</a>
						<p>{{productRec.categories[0]}} {{productRec.price}} </p> <a class="btn btn-default btn-more" ng-click="addToCart(productRec)">Add</a>
					</div>
				</div>
			</div>
		</div>
</div>