<section id="cart">
    <h1>Cart</h1>
    <div>
    	<h2>Products</h1>
    	<ul>
    		<li ng-repeat="product in cartProducts">
    			<h3>Name: {{product.name}}</h3>
    			Product Quantity:<input type="text" ng-model="product.orderQty" ng-change="calculateSubTotal()"/>
    			<h3>Price: {{product.price | currency }}</h3>
    			<!--<h3>Amount: {{calculateAmount(product.quantity,product.price)}}</h3>-->
				<button ng-click="removeItem(product)">remove from Cart</button>
    		</li>
		</ul>
	</div>
	<h3>Sub Total: {{ subTotal | currency }}</h3>
	<h3>Tax: {{ tax | currency }}</h3>
	<h3>Shipping: {{ shipping  | currency }}</h3>
	<h2>Total: {{ total | currency }}</h2>
	<button ng-click="calculateSubTotal()">Update Cart</button>
	<button type="submit" ui-sref='checkout'>Checkout</button>
	<!-- <button ng-click="emptyCart()">Empty Cart</button> 
	--> <button ng-click="emptyCart()">Empty Cart</button> 
</section>