<section id="new-product-admins">
    This is products-admins view
	<section id="really-new-product-admin">
		This is new product page- no alcohol please
			<form name="newProduct" ng-submit="createProduct(product)">
				Name: <input ng-model="product.name"/><br />
				Description: <input ng-model="product.description"/><br />
				Image: <input ng-model="product.image"/><br />
				Price: <input ng-model="product.price"/><br />
				Quantity: <input ng-model="product.qty"/><br />
				Categories: <input ng-model="product.categories"/><br />
				<button>Create Product</button>
			</form>
	</section>
</section>
