.checkoutProducts {
		width: 29.5%;
		float: left;
		margin: 30px;
		img{
			width: 100%;
		}
	}
.checkoutDetails{
	h3{
		clear:both;
	}
}

#checkout-products {
  .productBox{
	width: 20%;
	img{
	  height: 230px;
	  width: 70%;
	}
  }
.eachProductName {
  color:navy;
  min-height: 60px;
}

}
.shipping {
  padding-left:3%;
  input {
	margin-bottom:10px;
	width: 70%;
  }
}

.checkoutDetails {
  border-top: 1px solid skyblue;
  padding-top: 30px;
  text-align: center;
  button {
	border: 1px solid skyblue;
  }
  .total {
	padding-top: 10px;
	border-top: 1px solid skyblue;
	color: blue;
	width: 200px;
	margin: 15px auto;
  }
  .promoCodeBtn {
	margin-left: 6px;
	margin-bottom: 10px;
	margin-top: 10px;
  }
  .submitOrder{
	margin-bottom: 5px;
	width:117px;
  }
  .promoInput {
  	height: 32px;
  }
}

