* {
  box-sizing: border-box;
}

li {
	list-style-type: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'admin/orders';
@import 'admin/products';
@import 'admin/usermanagement';
@import 'cart/cart';
@import 'checkout/checkout';
@import 'products/products';
@import 'profile/profile';
