* {
  box-sizing: border-box;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.contentTop {
  margin-top:10%;
}

ui-view.ng-enter, ui-view.ng-leave, ui-view.ng-show, ui-view.ng-hide {
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

ui-view.ng-enter {
	opacity: 0;
}

ui-view.ng-enter-active {
	opacity: 1;
}

ui-view.ng-leave {
	opacity: 1;
}

ui-view.ng-leave-active {
	opacity: 0;
}

li {
	list-style-type: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'directives/reviews';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'admins/orders';
@import 'admins/products';
@import 'admins/usermanagement';
@import 'admins/newProduct';
@import 'admins/promos';
@import 'admins/categories';
@import 'cart/cart';
@import 'checkout/checkout';
@import 'products/products';
@import 'products/product';
@import 'profile/profile';
