#products-user{
	.IntroPic {
		img{
		  	margin-top:-68px;
			width: 100%;
			height: 600px;
			position: relative;
			z-index: 0;
		}
	}
	.categorySelection {
	  float: left;
	  height: 50px;
	  width: 100%;
	  text-align: center;
	  margin-top: 3%;
	  display: inline-block;
	  button {
		font-size: 20px;
	  }
	}
	.active {
		background: darkgray;
	}


}

.searchBox {
  display:block;
  margin:auto;
  clear:both;
  width: 300px;
  height: 40px;
  text-align: middle;
  padding: 10px;
  font-size: 20px;
}

.productBox {
		width: 28.5%;
		float: left;
		margin: 30px;
  		text-align: center;
		img{
			width: 160px;
		  	height: 400px;
		  	cursor: pointer;
		}
  		button{
		  border: 1px solid skyblue;
		}
	}

.promoBox {
	position: relative;
	width: 60%;
	text-align: center;
	margin: -140px auto 0;
	z-index: 1;
	.promo{
		float:left;
		width:33.3333%;
		height: 300px;
		background: lightgray;
	    border: 1px dotted gray;
	}
}
