<div id="reviews">
    <div>
        <ul>
            <li ng-repeat = "review in reviews">
                Title: {{review.title}}
                Content: {{review.text}}
                Stars: {{review.rating}}
            </li>
        </ul>
    </div>
    <form name="commentForm" ng-submit="postReview(newReview.text)" novalidate>
        <label>
            <input type="radio" ng-model="newReview.rating" ng-value="1" />
            1
        </label>
        <label>
            <input type="radio" ng-model="newReview.rating" ng-value="2" />
            2
        </label>
        <label>
            <input type="radio" ng-model="newReview.rating" ng-value="3" />
            3
        </label>
        <label>
            <input type="radio" ng-model="newReview.rating" ng-value="4" />
            4
        </label>
        <label>
            <input type="radio" ng-model="newReview.rating" ng-value="5" />
            5
        </label>

        <input type='text'  ng-model='newReview.title' ng-maxlength='40'/>
        <textarea ng-model='newReview.text' ng-maxlength='40'/>
        <br/>
        <button type='submit'>Post</button>
    </form>
</div>git
