#cart {
  margin-right: 4%;
  .cart{
    text-align: center;
    border-bottom: 1px solid skyblue;
    width:98%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: navy;
  }
  .productName {
    color:navy;
    font-size: 20px;
    min-height: 70px;
  }
  .price {
    color:blue;
    font-size: 20px;
  }
  .eachProduct {
    text-align: center;
    margin-bottom: 40px;
    img{
      height:200px;
      width:70px;
    }
    input {
      width:20px;
    }
    button{
      border: 1px solid skyblue;
      position: relative;
      margin-bottom: 20px;
    }
  }
  .cartDetails {
    text-align: center;
    margin-bottom: 30px;
    button{
      border: 1px solid skyblue;
    }
    .total {
      padding-top: 10px;
      border-top:1px solid skyblue;
      color: blue;
      width: 200px;
      margin: 15px auto;
    }
  }
}