<section class="contentTop">
    <div id="products-admins" class="clearfix">
        <div class="all-products col-xs-6">
            <input class="searchBox" type="text" placeholder="Search Products" ng-model="query"/>
            <div class="column-titles">
                <div class="col-xs-9">
                    <h3>Product</h3>
                </div>
                <div class="col-xs-3">
                    <h3>Inventory</h3>
                </div>
            </div>
            <div ng-click="setCurrentProduct(product)" ng-class-even="'even-product'" ng-class="{ 'selected-product': currentProduct._id === product._id, 'first-product': $first, 'last-product': $last }" class="clearfix product-listing" ng-repeat="product in products | orderBy: 'name' | filter: search">
                <div class="col-xs-9 product-name">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="col-xs-3 product-inventory">
                    <h4>{{ product.qty }}</h4>
                </div>
            </div>
        </div>
        <div class="single-product col-xs-6" ng-show="currentProduct">
            <h2>{{ currentProduct.name }}</h2>
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{ 'active': currentTab === 'details' }" ng-click="setCurrentTab('details')"><a href="#">Product Details</a></li>
                <li role="presentation" ng-class="{ 'active': currentTab === 'reviews' }" ng-click="setCurrentTab('reviews')"><a href="#">Product Reviews</a></li>
            </ul>
            <form ng-show="currentTab === 'details'" ng-submit="updateProduct(currentProduct)">
                <div class="col-xs-4">
                    <label>Name</label>
                    <input class="form-control" ng-model="currentProduct.name"/>
                </div>
                <div class="col-xs-4">
                    <label>Price</label>
                    <input class="form-control" ng-model="currentProduct.price"/>
                </div>
                <div class="col-xs-4">
                    <label>Inventory</label>
                    <input class="form-control" ng-model="currentProduct.qty"/>
                </div>
                <div class="col-xs-6">
                    <label>Image</label>
                    <input class="form-control" ng-model="currentProduct.image"/>
                </div>
                <div class="col-xs-6">
                    <label>Categories</label>
                    <input class="form-control" ng-model="currentProduct.categories"/>
                </div>
                <div class="col-xs-12">
                    <label>Review</label>
                    <textarea class="form-control" ng-model="currentProduct.description.review"/></textarea>
                </div>
                <div class="col-xs-6">
                    <label>AOC</label>
                    <input class="form-control" ng-model="currentProduct.description.aoc"/>
                    <label>Vintage</label>
                    <input class="form-control" ng-model="currentProduct.description.vintage"/>
                    <label>Serves</label>
                    <input class="form-control" ng-model="currentProduct.description.serves"/>
                    <label>Grapes</label>
                    <input class="form-control" ng-model="currentProduct.description.grapes"/>
                </div>
                <div class="col-xs-6">
                    <label>DO</label>
                    <input class="form-control" ng-model="currentProduct.description.do"/>
                    <label>Origin</label>
                    <input class="form-control" ng-model="currentProduct.description.origin"/>
                    <label>Winery</label>
                    <input class="form-control" ng-model="currentProduct.description.winery"/>
                    <label>Taste</label>
                    <input class="form-control" ng-model="currentProduct.description.taste"/>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-default">Update Product</button>
                </div>
            </form>
            <ul ng-show="currentTab === 'reviews'">
                <li ng-class-even="'even-review'" class="review" ng-repeat="review in currentProduct.reviews">
                    <h4>{{ review.title }}</h4>
                    <p>{{review.text}}</p>
                    <h5>Stars: {{ review.rating }}</h5>
                    <h5>Likes: {{ review.likes }}</h5>
                    <button class="btn btn-danger" ng-click="deleteReview(review._id,currentProduct._id)">Delete Review</button>
                </li>
            </ul>
        </div>
    </div>
</section>
