<section id="products-admins">
    This is products-admins view
	<section id="all-products-admin">
		This is products
		<ul ng-repeat="product in products">
			<form name="editProduct-{{product._id}}" ng-submit="updateProduct(product)">
				Name: <input name="editName-{{product._id}}" ng-model="updatedProduct.name"/><br />
				Description: <input name="editName-{{product._id}}" ng-model="updatedProduct.description"/><br />
				Image: <input name="editName-{{product._id}}" ng-model="updatedProduct.image"/><br />
				Price: <input name="editName-{{product._id}}" ng-model="updatedProduct.price"/><br />
				Quantity: <input name="editName-{{product._id}}" ng-model="updatedProduct.qty"/><br />
				Categories: <input name="editName-{{product._id}}" ng-model="updatedProduct.categories"/><br />
				<button>Update Product</button>
			</form>
		</ul>
	</section>
</section>
